<div class="container">
  
    <% unless current_user %>
      <div class="top__background">
        <div class="top__main">
          <p class="top__desc">今日・すぐに・合コンができる</p>
          <h1 class="top__title">MatchApp</h1>
          <%= link_to "新規登録はこちら", new_user_registration_path, class:"top__signup-btn top__btn" %>
          <%= link_to "ログイン", new_user_session_path, class:"top__signin-btn top__btn" %>

          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
                <% if OmniAuth::Utils.camelize(provider) == "Line" %>
                  <%= link_to omniauth_authorize_path(resource_name, provider), class:"sns-btn--line disabled" do %>
                  <div class="sns-btn__image">
                    <%= image_tag "line-btn-icon.png" %>
                  </div>
                  <div class="sns-btn__text">
                    <%= "LINEでログイン" %>
                  </div>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="top">
        <%= render "shared/top/profile" %>

        <%# <div class="index-title-wrapper">
          <span class="index-title">募集一覧</span>
        </div> %>

        <%= render "shared/top/index" %>
      </div>
    <% end %>
  
</div>

<style>
.top__background{
  background-image: url("<%= asset_path('top.png') %>");
  width: 100%;
  height:400px;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

/* .index-title-wrapper{
  background: #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  text-align: center;
  padding: 8px 0;
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.15);
}
.index-title{
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  font-weight: 700;
  letter-spacing: 2.4px;
} */

.index-title::before,
.index-title::after {
	content: '';
	width: 3px;
	height: 18px;
	background-color: #8bd3dd;
}

.index-title::before {
	margin-right: 30px;
	transform: rotate(-35deg)
}
.index-title::after {
	margin-left: 30px;
	transform: rotate(35deg)
}
</style>