<div class="container">
  <div class="top">
    <% unless current_user %>
      <div class="top__background">
        <div class="top__main">
          <p class="top__desc">今日・すぐに・合コンができる</p>
          <h1 class="top__title">MatchApp</h1>
          <%= link_to "新規登録はこちら", new_user_registration_path, class:"top__signup-btn top__btn" %>
          <%= link_to "ログイン", new_user_session_path, class:"top__signin-btn top__btn" %>
        </div>
      </div>
      <%= render "shared/top/index" %>
    <% else %>
      <%= render "shared/top/profile" %>
      <%= render "shared/top/index" %>
    <% end %>
  </div>
</div>

<style>
.top__background{
  background-image: url("<%= asset_path('top.png') %>");
  width: 100%;
  height:400px;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}
</style>