<div class="top__header-user-action-area">
  
    <div class="top__user-profile">
        <div class="top__user-icon-wrapper">
          <%= image_tag @user_profile.image.thumb.url, class:"top__user-icon" %>
          <span class="top__user-name text-ellipsis">
            <%= @user_profile.name %>
          </span>
        </div>

        <div class="top__user-info">
          <div class="top__user-info-status">
            <div class="top__user-info-status-item-wrapper">
              <div class="top__user-info-status-item">
                <%= render "shared/top/post_status" %>
                <span>自分の募集</span>
              </div>
            </div>
            <div>
              <div class="top__user-info-status-item">
                <%= render "shared/top/invite_status" %>
                <span>あなたへの招待</span>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="top__select-btn-wrapper">
      <button class="top__select-btn attack-btn hover-opacity">
        <%= link_to "アタックチーム作成", new_attack_group_path, class:"top__select-link" %>
      </button>
      <button class="top__select-btn post-create-btn hover-opacity">
        <%= link_to "募集作成", new_post_path, class:"top__select-link" %>
      </button>
    </div>
</div>