<div class="container">
    <div class="single-page">
        <h1 style="text-align:center; padding-bottom: 0px;">
          アタックチーム一覧
        </h1>

        <% unless @attack_groups.present? %>
            <p class="attack_groups__no-items-title">
              チームが存在しません。<%= link_to "チーム作成", new_attack_group_path, style:"text-decoration:underline;" %>する。
            </p>
        <% else %>
            <div class="attack_groups__wrapper">
                <% @attack_groups.each do |group| %>
                    <div class="attack_groups__item">
                        <div class="attack_groups__item-title-wrapper">
                            <span class="attack_groups__item-title">チーム<%= group.group_number %></span>
                            <div class="attack_groups__item-option hover-opacity">
                              <%= link_to "チーム削除する", attack_group_path(group.id), method: :delete, data: { confirm: "削除します。よろしいでしょうか？" }, class:"attack_groups__delete-btn" %>
                            </div>
                        </div>
                        <div class="attack_groups__users-item-wrapper">
                            <% group.attackers.is_participant.each do |attacker| %>
                                <div class="attack_groups__user-item">
                                  <div>
                                    <%= image_tag attacker.user.user_profile.image.icon.url, class:"attack_groups__user-item-img" %>
                                  </div>
                                  <div class="attack_groups__name-wrapper">
                                    <%= link_to attacker_path(attacker.id), method: :delete, data: { confirm: "招待した方にキャンセル通知がいきます。よろしいでしょうか？" }, class:"invite-cancel-link" do %>
                                      <%= image_tag "sm-cancel.png", style:"width: 12px;" %>
                                    <% end %>
                                    <span>
                                      <%= attacker.user.user_profile.name %>
                                    </span>
                                  </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<style>
.attack_groups__no-items-title{
  text-align: center;
  margin-top: 24px;
}

.attack_groups__item{
  padding: 24px 0;
}

.attack_groups__item-title-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.attack_groups__item-option{
  display: flex;
  align-items: flex-end;
  text-decoration: underline;
}

.attack_groups__delete-btn{
  font-size: 12px;
}

.attack_groups__users-item-wrapper{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #f3d2c1;
  border-radius: 8px;
  padding: 10px 0px;
  background: #f3d2c1;
  overflow-x: scroll;
}

.attack_groups__user-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attack_groups__user-item-img{
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 9999px;
}

.attack_groups__name-wrapper{
  display: flex;
  align-items: center;
}

</style>