<header>
  <div class="container">
    <div class="header-title">
      <%= link_to root_path, class:"header-icon-wrapper" do %>
        <%= image_tag "header-icon", class:"header-icon-img" %>
      <% end %>
    </div>

    <div class="header-right">

      <% if current_user %>
        <div id="search">
            <search />
        </div>
        <%= javascript_pack_tag 'search' %>
        <%= stylesheet_pack_tag 'search' %>

        <div id="notification">
            <notification />
        </div>
        <%= javascript_pack_tag 'notification' %>
        <%= stylesheet_pack_tag 'notification' %>

        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">toggle navigation</span>
          <span class="drawer-hamburger-icon"></span>
        </button>

        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu">
            <li>
              <div class="drawer-menu__user-info">
                <%= image_tag current_user.user_profile.image.icon.url, class:"drawer-menu__user-icon" %>
                <span class="drawer-menu__user-name">
                  <%= current_user.user_profile.name %>
                </span>
              </div>
            </li>
            <li>
              <%= link_to "アタックチーム一覧", attack_groups_path, class:"drawer-menu-item" %>
            </li>
            <li>
              <%= link_to "募集作成", new_post_path, class:"drawer-menu-item" %>
            </li>
            <li>
              <%= link_to "プロフィール編集", edit_user_profile_path, class:"drawer-menu-item" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"drawer-menu-item" %>
            </li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</header>

<script>
$(document).ready(function() {
  $('.drawer').drawer();
});
</script>