<header>
  <div class="container">
    <div class="header-title">
      <%= link_to root_path, class:"header-icon-wrapper" do %>
        <%= image_tag "header-icon", class:"header-icon-img" %>
      <% end %>
    </div>

    <div class="header-right">

      <% if current_user %>
        <div id="menu">
            <header-menu />
        </div>
        <%= javascript_pack_tag 'menu' %>
        <%= stylesheet_pack_tag 'menu' %>

        <div id="search">
            <search />
        </div>
        <%= javascript_pack_tag 'search' %>
        <%= stylesheet_pack_tag 'search' %>

        <div id="notification">
            <notification />
        </div>
        <%= javascript_pack_tag 'notification' %>
        <%= stylesheet_pack_tag 'notification' %>

        <% props = {
            username: current_user.user_profile.name,
            user_image: current_user.user_profile.image.icon.url
          }.to_json
        %>
        <div id="user-menu" data="<%= props %>">
            <user-menu />
        </div>
        <%= javascript_pack_tag 'user_menu' %>
        <%= stylesheet_pack_tag 'user_menu' %>

      <% end %>
    </div>
  </div>
</header>