<div class="invited-member-list">
  <p class="invited-member-list-title">📌招待中メンバー</p>

  <% if @invited_user_exclude_me.blank? %>
    <span>
      招待中のメンバーはいません
    </span>
  <% else %>
    <% if @unconfirmed_members.present? %>
      <ul style="margin-bottom: 16px;">
        <span class="invited-member-list-sub-title">未承認メンバー</span>
        <% @unconfirmed_members.each do |member| %>
          <li class="invited-member-item">
            <%= link_to post_member_path(member.id), method: :delete, data: { confirm: "招待した方にキャンセル通知がいきます。よろしいでしょうか？" }, class:"invite-cancel-link" do %>
              <%= image_tag "sm-cancel.png", class:"invite-cancel-img" %>
            <% end %>
            <span class="invited-email text-ellipsis"><%= member.user.email %></span>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @attend_members.present? %>
      <ul style="margin-bottom: 16px;">
        <span class="invited-member-list-sub-title">参加希望メンバー</span>
        <% @attend_members.each do |member| %>
          <li class="invited-member-item">
            <%= link_to post_member_path(member.id), method: :delete, data: { confirm: "招待した方にキャンセル通知がいきます。よろしいでしょうか？" }, class:"invite-cancel-link" do %>
              <%= image_tag "sm-cancel.png", class:"invite-cancel-img" %>
            <% end %>
            <span class="invited-email text-ellipsis"><%= member.user.email %></span>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @absent_members.present? %>
      <ul>
        <span class="invited-member-list-sub-title">不参加メンバー</span>
        <% @absent_members.each do |member| %>
          <li class="invited-member-item">
            <%= link_to post_member_path(member.id), method: :delete, data: { confirm: "招待した方にキャンセル通知がいきます。よろしいでしょうか？" }, class:"invite-cancel-link" do %>
              <%= image_tag "sm-cancel.png", class:"invite-cancel-img" %>
            <% end %>
            <span class="invited-email text-ellipsis"><%= member.user.email %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>