<div class="container">
  <div class="single-page">
    <h1>
      <%= user_sex %>メンバーを招待する
    </h1>

    <p class="invitable-number">
      <span>招待可能人数：<%= @invitable_number %>人</span>
    </p>

    <% if current_user.invite_any? %>
      <%= render "shared/inviting" %>
    <% end %>

    <!--
    <div class="lines-on-sides">
      <span>すでにアカウントを持っている人を選択する</span>
    </div>
    <div class="sp-sub-text-wrapper">
      <span class="sp-sub-title">すでにアカウントを持っている人を選択する</span>
    </div>
    -->

    <% props = {
        listedType: "post_member",
        invitableNumber: @invitable_number
      }.to_json
    %>
    <div id="select-member" data="<%= props %>">
        <select-member />
    </div>
    <%= javascript_pack_tag 'select_member' %>
    <%= stylesheet_pack_tag 'select_member' %>

    <%= link_to "アカウントを持っていない人を招待する", new_user_invitation_path, class:"invitation-link" %>
    <!--
    <% if current_user.friend_users.same_sex(current_user).blank? %>
        <p class="post-member__exception-title">
          <span>(同性の)フレンドがいません</span>
          <span>
            ヘッダーの <%= image_tag "add-friend.png", class:"post-member__exception-search-img" %> からフレンド追加できます
          </span>
        </p>
    <% else %>
        <% if @not_invited_friends.blank? %>
            <p class="post-member__exception-title">
              <span>全フレンド選択済みです</span>
            </p>
        <% else %>
            <%= render "shared/friend_list",
              model: @post_members,
              url: post_members_path,
              listed_friends: @not_invited_friends
            %>
        <% end %>
    <% end %>
    -->
  </div>

  <div class="page-link-wrapper">
    <%= link_to new_post_path, class:"page-link-left hover-opacity" do %>
      <div>
        <i class="fas fa-chevron-circle-left"></i>
      </div>
      <span class="page-link-text-left">自分の募集をみる</span>
    <% end %>
  </div>

  <!--
  <div class="single-page">
    <div class="lines-on-sides">
      <span>アカウントを持っていない人を招待する</span>
    </div>
    <div class="sp-sub-text-wrapper">
      <span class="sp-sub-title">アカウントを持っていない人を招待する</span>
    </div>

    <div class="post-member-form">
      <%= render "shared/register_invite" %>
    </div>
  </div>
  -->
</div>