<div class="container">
  <div class="single-page">
    <h1>
      メンバーを招待する
    </h1>

    <% if current_user.invite_any? %>
      <div class="invited-member-list">
        <span>招待中メンバー</span>
        <ul>
          <% @invited_members.each do |member| %>
            <li class="invited-member-item">
              <% @post_member = PostMember.find_by(user: member, post: current_user.post) %>
              <%= link_to post_member_path(@post_member.id), method: :delete, data: { confirm: "招待した方にキャンセル通知がいきます。よろしいでしょうか？" }, class:"invite-cancel-link" do %>
                <%= image_tag "sm-cancel.png" %>
              <% end %>
              <span class="invited-email"><%= member.email %></span>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="lines-on-sides">
      <span>アカウントを持っていない人を招待する</span>
    </div>

    <div class="post-member-form">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name)) do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="form">
          <div class="field">
            <div class="label">
              <label>
                招待する人のメールアドレス
              </label>
            </div>
            <%= f.email_field :email, type: "email", :placeholder => "example@matchapp.jp", required: "required" %>
          </div>
          <div class="field">
            <div class="button-wrapper">
              <%= f.submit "送信する", class:"app-button conversion" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="lines-on-sides">
      <span>すでにアカウントを持っている人を招待する</span>
    </div>
  </div>
</div>

<style>
.invited-member-list{
  margin-bottom: 24px;
}

.invited-member-item{
  display: flex;
  align-items: center;
  line-height: 24px;
}

.invite-cancel-link{
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.invited-email{
  font-size: 14px;
}

.lines-on-sides{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.lines-on-sides:before {
  content: "";
  display: block;
  border-top: solid 1px #ccc;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.lines-on-sides span {
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.post-member-form{
  padding: 32px 0;
}
</style>