<div class="container">
  <div class="single-page">
    <h1>
      <%= @sex %>メンバーを招待する
    </h1>

    <p class="invitable-number">
      <span>招待可能人数：<%= @invitable_number %>人</span>
    </p>

    <% if current_user.invite_any? %>
      <%= render "shared/inviting" %>
    <% end %>

    <div class="lines-on-sides">
      <span>アカウントを持っていない人を招待する</span>
    </div>
    <div class="sp-sub-text-wrapper">
      <span class="sp-sub-title">アカウントを持っていない人を招待する</span>
    </div>

    <div class="post-member-form">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name)) do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="form">
          <div class="field">
            <div class="label">
              <label>
                招待したい人のメールアドレス
              </label>
            </div>
            <%= f.email_field :email, type: "email", :placeholder => "example@matchapp.jp", required: "required" %>
            <span class="form-attention-text">※登録した同性ユーザーは自動でメンバーに追加されます。</span>
          </div>
          <div class="field">
            <div class="button-wrapper">
              <%= f.submit "✉ 招待メールを送信", class:"app-button conversion" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="lines-on-sides">
      <span>すでにアカウントを持っている人を選択する</span>
    </div>
    <div class="sp-sub-text-wrapper">
      <span class="sp-sub-title">すでにアカウントを持っている人を選択する</span>
    </div>

    <% if current_user.friend_users.blank? %>
      <p class="post-member__exception-title">
        <span>フレンドがいません。</span>
        <span>
          ヘッダーの<%= image_tag "search.png", class:"post-member__exception-search-img" %>からフレンド追加できます。
        </span>
      </p>
    <% else %>
      <% if @not_invited_friends.blank? %>
        <p class="post-member__exception-title">
          <span>全フレンド選択済みです</span>
        </p>
      <% else %>
        <div class="post-member-form">
          <%= form_with model: @post_members, url: post_members_path, local: true, method: :post do |f| %>
            <div class="form">
              <div class="field">
                <div class="label">
                  <label>
                    フレンドリストから選ぶ
                  </label>
                </div>
                <div class="post-member__friend-list">
                  <%= f.collection_check_boxes(:user_id, @not_invited_friends, :id, :email, include_hidden: false) do |b| %>
                    <span class="post-member__friend-list-item">
                      <%= b.check_box %>
                      <%= b.label class:"text-ellipsis" %>
                    </span>
                  <% end %>
                </div>
              </div>
              <div class="field">
                <div class="button-wrapper">
                  <%= f.submit "招待確定する", class:"app-button conversion" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
.invitable-number{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.lines-on-sides{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.lines-on-sides:before {
  content: "";
  display: block;
  border-top: solid 1px #ccc;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.lines-on-sides span {
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.sp-sub-text-wrapper{
  display: none;
}

@media(max-width: 567px){
  .lines-on-sides{
    display: none;
  }
  .sp-sub-text-wrapper{
    display: block;
    font-size: 14px;
  }
  .sp-sub-title{
    border-left: 2px solid #f582ae;
    padding-left: 12px;
    font-weight: 700;
    font-size: 16px;
  }
}

.post-member__exception-title{
  text-align: center;
  padding: 28px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.post-member__exception-search-img{
  width: 20px;
  height: 20px;
}

.post-member-form{
  padding: 32px 0;
}

.post-member__friend-list{
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: scroll;
}

.post-member__friend-list-item{
  display: flex;
  margin: 4px 0px;
  font-size: 14px;
}
</style>