<div class="container">
    <div class="single-page">
        <h1>相手グループ情報</h1>

        <div style="margin-bottom: 42px;">
          <% @attackers.each do |attacker| %>
              <div class="attack-group__member-item">
                  <div class="attack-group__member-icon-wrapper">
                    <%= image_tag attacker.user.user_profile.image.icon.url, class:"attack-group__member-icon-img" %>
                  </div>
                  <div class="attack-group__member-info">
                    <span><%= attacker.user.user_profile.name %></span>
                    <div class="attack-group__member-info-detail">
                      <% if attacker.user.user_profile.age.present? %>
                        <span><%= attacker.user.user_profile.age %>才</span>
                      <% end %>
                      <% if attacker.user.user_profile.job.present? %>
                        <span><%= attacker.user.user_profile.job %></span>
                      <% end %>
                    </div>
                  </div>
              </div>
          <% end %>
        </div>

        <div class="attack-group__btn-wrapper">
          <%= button_to "承認する", 
            request_path(@request_id),
            method: :patch,
            class:"select-btn activeModalBtn",
            data: { confirm: "このグループとマッチングします。よろしいでしょうか？" }
          %>
        </div>
    </div>

    <div class="page-link-wrapper">
      <%= link_to requests_path, class:"page-link-right hover-opacity" do %>
        <span class="page-link-text-right">アタック一覧へ</span>
        <div>
          <i class="fas fa-chevron-circle-right"></i>
        </div>
      <% end %>
    </div>
</div>