<%= form_with model: @attackers, url: attack_groups_path, local: true, method: :post do |f| %>
  <div class="form">
    <% if current_user.friend_users.blank? %>
      <span>フレンドがいません。</span>
    <% else %>
      <div class="field">
        <div class="label">
          <label>
            フレンドリストから選ぶ
          </label>
        </div>
        <div class="post-member__friend-list">
          <%= f.collection_check_boxes(:user_id, @host_friends, :id, :email, include_hidden: false) do |b| %>
            <span class="post-member__friend-list-item">
              <%= b.check_box %>
              <%= b.label class:"text-ellipsis" %>
            </span>
          <% end %>
        </div>
    </div>
    <% end %>

    <div class="field">
      <div class="button-wrapper">
        <%= f.submit "メンバー確定", class:"app-button conversion" %>
      </div>
    </div>
  </div>
<% end %>

<style>
.post-member__friend-list{
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: scroll;
}
.post-member__friend-list-item{
  display: flex;
  margin: 4px 0px;
  font-size: 14px;
}
</style>