<div class="container">
  <div class="single-page">
    <% if @post.present? %>
      <% if current_user.all_member_invite?(@post) %>
        <h1>すでに募集が作成されています</h1>
        <%= render "shared/post_image",
          place: @post.place,
          time: @post.time.strftime("%-m月%-d日 %H:%M"),
          join_member: @join_member
        %>
      <% else %>
        <h1 style="padding-bottom:20px;">作成した募集にメンバーを招待しましょう</h1>

        <p>
          <span>招待可能人数：<%= @invitable_number %>人</span>
        </p>

        <% if current_user.invite_any? %>
          <%= render "shared/inviting" %>
        <% end %>

        <div class="invite-send-btn-wrapper">
          <%= link_to "✉ 招待する", new_post_member_path, class:"invite-send-btn app-button conversion" %>
        </div>

        <% if current_user.invite_any? %>
          <p class="post-preview-title">投稿イメージ</p>
          <%= render "shared/post_image",
            place: @post.place,
            time: @post.time.strftime("%-m月%-d日 %H:%M"),
            join_member: @join_member
          %>
        <% end %>
      <% end %>
      <div class="post-select-link-wrapper">
        募集を<%= link_to "編集する", edit_post_path(@post.id), class:"post-select-link" %>・<%= link_to "削除する", post_path(@post.id), method: :delete, data: { confirm: "参加者全員に通知がいきます。よろしいでしょうか？" }, class:"post-select-link" %>
      </div>
    <% else %>
      <h1>
        合コンをセッティングする
      </h1>
      <%= form_with model: @new_post, url: posts_path, local: true, method: :post do |f| %>
        <div class="form">
          <div class="field">
            <div class="label">
              <label>
                場所
              </label>
            </div>
            <%= f.text_field :place, type: "text", :placeholder => "東京駅周辺" %>
          </div>
          <div class="field">
            <div class="label">
              <label>
                人数（自分を合わせて）
              </label>
            </div>
            <%= f.select :number, options_for_select((2..10).to_a), {prompt: "選択してください"} %>
          </div>
          <div class="field">
            <div class="label">
              <label>
                時間帯
              </label>
            </div>
            <%= f.datetime_select :time, minute_step: 10 %>〜
          </div>
          <div class="field">
            <div class="label">
              <label>
                ひとこと
              </label>
            </div>
            <%= f.text_field :detail, type: "text", :placeholder => "19時から暇な方一緒に飲みましょう！" %>
          </div>

          <div class="field">
            <div class="button-wrapper">
              <%= f.submit "次へ（メンバーを選ぶ）", class:"app-button next" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
.invite-send-btn-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}
.invite-send-btn{
  background: #8bd3dd;
  border-color: #8bd3dd;
}

.post-preview-title{
  text-align: center;
  font-weight: 700;
}

.post-select-link-wrapper{
  display: flex;
  align-items: center;
  font-size: 12px;
}
.post-select-link{
  text-decoration: underline;
}
</style>