<div class="container">
  <div class="single-page">
    <% if @post.present? %>
      <% if current_user.all_member_invite?(@post) %>
        <% if @post.all_member_here? %>
          <h1>すでに募集が投稿されています</h1>
        <% else %>
          <h1>すでに募集が作成されています</h1>
        <% end %>

        <%= render "shared/posts/post_image",
          place: @post.place,
          time: @post.time.strftime("%-m月%-d日 %H:%M"),
          join_member: @join_member
        %>
        
      <% else %>
        <h1 style="padding-bottom:20px;">作成した募集にメンバーを招待しましょう</h1>

        <p class="invitable-number">
          <span>招待可能人数：<%= @invitable_number %>人</span>
        </p>

        <% if current_user.invite_any? %>
          <%= render "shared/inviting" %>
        <% end %>

        <div class="invite-send-btn-wrapper">
          <%= link_to "✉ 招待メンバーを選ぶ", new_post_member_path, class:"invite-send-btn app-button conversion" %>
        </div>

        <p class="post-preview-title">投稿イメージ</p>
        <%= render "shared/posts/post_image",
          place: @post.place,
          time: @post.time.strftime("%-m月%-d日 %H:%M"),
          join_member: @join_member
        %>

      <% end %>
      <div class="post-select-link-wrapper">
        募集を<%= link_to "編集する", edit_post_path(@post.id), class:"post-select-link" %>・<%= link_to "削除する", post_path(@post.id), method: :delete, data: { confirm: "参加者全員に通知がいきます。よろしいでしょうか？" }, class:"post-select-link" %>
      </div>
    <% else %>
      <%= render "shared/posts/form" %>
    <% end %>
  </div>
</div>

<style>
.invite-send-btn-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}
.invite-send-btn{
  background: #8bd3dd;
  border-color: #8bd3dd;
}

.post-preview-title{
  text-align: center;
  font-weight: 700;
}

.post-select-link-wrapper{
  display: flex;
  align-items: center;
  font-size: 12px;
}
.post-select-link{
  text-decoration: underline;
}
</style>