<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="drawer drawer--right">
    <%= render "shared/header" %>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="flash alert-<%= key %>">
          <%= content_tag(:div, value, class: "#{key}") %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
