<div class="container">
  <div class="regist-header">
    アカウント作成
  </div>

  <div class="regist-form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "shared/error_messages", resource: resource %>
      <div class="form">
        <div class="field">
          <div class="label">
            <label>
              性別
            </label>
          </div>
          <%= f.radio_button :sex, :male %>
          <%= f.label :sex_male, "男性", class:"sex-radio-btn male-radio" %>
          <%= f.radio_button :sex, :female %>
          <%= f.label :sex_female, "女性", class:"sex-radio-btn female-radio" %>
        </div>
        <div class="field">
          <div class="label">
            <label>
              メールアドレス
            </label>
          </div>
          <%= f.email_field :email, type: "email", :placeholder => "example@matchapp.jp", required: "required" %>
        </div>
        <div class="field">
          <div class="label">
            <label>
              パスワード
            </label>
          </div>
          <%= f.password_field :password, type:"password", :placeholder => "パスワード", required: "required" %>
        </div>
        <div class="field">
          <div class="label">
            <label>
              確認用のパスワード
            </label>
          </div>
          <%= f.password_field :password_confirmation, type:"password", :placeholder => "確認用のパスワード", required: "required" %>
        </div>

        <div>
          <%= link_to "確認メールが届かない", new_user_confirmation_path, class:"forget-link"  %>
        </div>

        <div class="regist-attention-text-wrapper">
          <p>
            ※利用規約、プライバシーポリシーに同意の上ご利用ください
          </p>
        </div>

        <div class="field">
          <div class="button-wrapper">
            <%= f.submit "上記に同意して登録する", class:"app-button conversion" %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>